<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
      <title>Author</title>
      <%- include partials/layout %>
  </head>
  <body>
    
    <div class="container">
    <h2>Daftar Penulis</h2>
    <table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama Depan</th>
          <th>Nama Belakang</th>
          <th>Pilihan</th>
        </tr>
      </thead>
      <tbody>
        <% data_authors.forEach(author =>{ %>
        <tr>
          <td><%= author.id %></td>
          <td><%= author.first_name %></td>
          <td><%= author.last_name %></td>
          <td><a href="/authors/edit/<%=author.id%>">Update</a> || <a href="/authors/delete/<%= author.id%>" onclick="return confirm('Are you sure want to delete this Author?');">Delete</a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    </div>
  </body>
</html>
