<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
      <title>Book</title>
      <%- include partials/layout %>
  </head>
  
  <body>
    <div class="container">
      <form action='/books' method="post">
        <label for="Cari judul Buku"></label>
        <input id="search" type="text" name="search" required>
        <button type="submit" class="waves-effect waves-light btn">Search</button>
      </form>
        
    <h2>Koleksi Buku</h2>  
    <table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th>No</th>
          <th>Judul Buku</th>
          <th>Pilihan</th>
        </tr>
      </thead>
      <tbody>
        <% let i = 1%>
        <% data_book.forEach(book => { %>
        <tr>
          <td><%= i++ %></td>
          <td><a href="/books/detail/<%= book.id %>"><%= book.title %></a></td>
          <td><a href="/books/edit/<%= book.id%>">Update</a> || <a href="/books/delete/<%= book.id%>" onclick="return confirm('Are you sure want to delete this Book?');">Delete</a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
    
  </body>
</html>
